

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    transition: all linear 0.5s ;

}

.inactive *, .inactive{
    height: 0%; 
    font-size: 0; 
}
.inactive button, .inactive input{
    display: none;
}